@charset "UTF-8";
.container{
	margin-top: 50px;	/* 시작점  */
}
.row{
	margin: 0px outo;	/* 가운데 정렬 */
	width: 960px;
}
p{
	overflow: hidden;			/* 글자수가 주어진 공간을 넘어가면 숨긴다 */
	white-space: nowrap;		/*  */
	text-overflow:  ellipsis;	/* ...출력 */
}
/* 
div.col-md-3{
	width: 240px;
	height: 228px;
	display: block;
}
 */